name: Moodle Plugin CI

########################################################################################################################

on: [ push, pull_request ]

#######################################################################################################################

jobs:
  call-moodle-ci-workflow:
    uses: Opencast-Moodle/moodle-workflows-opencast/.github/workflows/moodle-ci.yml@addhvpoption
    with:
      requires-tool-plugin: true
      requires-block-plugin: true
      requires-hvp-plugin: true
      branch-tool-plugin: MOODLE_405_STABLE
      branch-block-plugin: MOODLE_405_STABLE
      branch-hvp-plugin: stable
      branch-opencast-docker-default: 17.1
