name: Moodle Plugin CI

########################################################################################################################

on: [ push, pull_request ]

#######################################################################################################################

jobs:
  call-moodle-ci-workflow:
    uses: Opencast-Moodle/moodle-workflows-opencast/.github/workflows/moodle-ci.yml@main
    with:
      requires-tool-plugin: true
      requires-block-plugin: false
      requires-hvp-plugin: true
      branch-tool-plugin: main
      branch-block-plugin: main
      branch-hvp-plugin: 1.27.1
      branch-opencast-docker-default: 17.1
